{
	"openapi": "3.0.3",
	"info": {
		"title": "wikibase-manifest",
		"description": "Extension that combines metadata about a Wikibase installation exposing it as a simple API.",
		"version": "1.0.0",
		"contact": {
			"name": "Wikimedia Deutschland - Wikidata Team",
			"url": "https://phabricator.wikimedia.org/project/board/4930/"
		}
	},
	"servers": [
		{
			"url": "https://wikibase-product-testing.wmflabs.org/wiki/rest.php/wikibase-manifest/v0",
			"description": "Test system"
		}
	],
	"paths": {
		"/manifest": {
			"get": {
				"description": "Returns the manifest of the Wikibase",
				"responses": {
					"default": {
						"description": "An unexpected error has occurred",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"code": { "type": "string" },
										"message": { "type": "string" }
									},
									"required": [ "code", "message" ]
								}
							}
						}
					},
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "schemas.json#/MediaWikiInfo"
										},
										{
											"$ref": "schemas.json#/EquivEntities"
										},
										{
											"$ref": "schemas.json#/LocalRdfNamespaces"
										},
										{
											"$ref": "schemas.json#/ExternalServices"
										},
										{
											"$ref": "schemas.json#/LocalEntities"
										},
										{
											"$ref": "schemas.json#/OAuth"
										},
										{
											"$ref": "schemas.json#/Other"
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"code": { "type": "string" },
										"message": { "type": "string" }
									},
									"required": [ "code", "message" ]
								}
							}
						}
					}
				}
			}
		}
	}
}
