<!-- heading -->
<div id="mw_header">
	<div class="mw-indicators mw-body-content">
		{{#array-indicators}}
			<div id="{{id}}" class="{{class}}">{{{html}}}</div>
		{{/array-indicators}}
	</div>
	<h1 id="firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
</div>

<div id="mw_main">
	<div id="mw_contentwrapper">
		<!-- navigation portlet -->
		<div id="p-cactions" class="portlet" role="navigation">
			<h3>{{msg-views}}</h3>
			<div class="pBody">
				{{#data-portlets}}
					<ul>
						{{#data-namespaces}}{{{html-items}}}{{/data-namespaces}}
						{{#data-views}}{{{html-items}}}{{/data-views}}
						{{#data-actions}}{{{html-items}}}{{/data-actions}}
					</ul>
				{{/data-portlets}}
			</div>
		</div>

		<!-- content -->
		<div id="content" role="main">
			<!-- contentholder does nothing by default, but it allows users to style the text inside
				the content area without affecting the meaning of 'em' in #mw_content, which is used
				for the margins -->
			<div id="mw_contentholder" class="mw-body">
				<div class='mw-topboxes'>
					<div class="mw-topbox" id="siteSub">{{msg-tagline}}</div>
						{{{html-user-message}}}
					<div class="mw-topbox" id="siteNotice">{{{html-site-notice}}}</div>
				</div>

				<div id="contentSub" {{{html-user-language-attributes}}}>{{{html-subtitle}}}</div>
				<div id="contentSub2"><span class="subpages">{{{html-undelete-link}}}</span></div>
				<div id="jump-to-nav">{{msg-jumpto}}
					<a href="#mw_portlets">{{msg-jumptonavigation}}</a>{{msg-comma-separator}}
					<a href="#searchInput">{{msg-jumptosearch}}</a>
				</div>

				{{{html-body-content}}}
				<div class='mw_clear'></div>
				{{{html-categories}}}{{{html-after-content}}}
			</div><!-- mw_contentholder -->
		</div><!-- mw_content -->
	</div><!-- mw_contentwrapper -->

	<div id="mw_portlets" {{{html-user-language-attributes}}}>
		<h2>{{msg-navigation-heading}}</h2>

		<!-- portlets -->
		{{#data-portlets-sidebar}}
			{{#data-portlets-first}}{{>Portlet}}{{/data-portlets-first}}
		{{/data-portlets-sidebar}}
		{{#data-search-box}}
			<div id="p-search" class="portlet" role="search">
				<h3><label for="searchInput">{{msg-search}}</label></h3>

				<div id="searchBody" class="pBody">
					<form action="{{form-action}}" id="searchform">
						<input type="hidden" name="title" value="{{page-title}}">
						{{{html-input}}}
						{{{html-button-search}}}
						{{{html-button-search-fallback}}}
					</form>
				</div>
			</div>
		{{/data-search-box}}
		{{#data-portlets-sidebar}}
			{{#array-portlets-rest}}
				{{>Portlet}}
			{{/array-portlets-rest}}
		{{/data-portlets-sidebar}}
		{{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
	</div><!-- mw_portlets -->
</div><!-- main -->
<div class="mw_clear"></div>
<!-- personal portlet -->
<div class="portlet" id="p-personal" role="navigation">
	<h3>{{msg-personaltools}}</h3>

	<div class="pBody">
		<ul>
			{{#data-portlets.data-personal}}
			{{{html-items}}}
			{{/data-portlets.data-personal}}
		</ul>
	</div>
</div>

<!-- footer -->
<div id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
	{{#data-footer}}
		<ul id="footer-info">
			{{#data-info}}{{>Footer__row}}{{/data-info}}
			{{#data-places}}{{>Footer__row}}{{/data-places}}
		</ul>
		{{#data-icons}}
			{{#array-items}}
				<div id="{{id}}">{{{html}}}</div>
			{{/array-items}}
		{{/data-icons}}
	{{/data-footer}}
</div>
