body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: x-small;
	font-family: sans-serif;
	color: #000;
	background-color: #f0f0f0;
	direction: ltr;
	unicode-bidi: embed;
}

#mw_main,
#p-personal,
#mw_header,
.os-suggest {
	font-size: 130%;
}

#mw_header {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0;
	height: 2em;
	width: 100%;
	background-color: #036;
	color: #fff;
}

.mw-indicators {
	float: right;
}

.mw-indicator {
	display: -moz-inline-block;
	display: inline-block;
	zoom: 1;
	*display: inline; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

#mw_header h1 {
	margin: 0 0 0 0.5em;
	padding: 0 0 0 0;
	text-decoration: none;
	font-size: 150%;
}

#p-personal {
	position: absolute;
	top: 2em;
	left: 0;
	height: 1.5em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
}

#p-personal div.pBody {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 1.5em;
	font-variant: small-caps;
}

#p-personal h3 {
	display: none;
}

#p-personal ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: block;
	height: 1.5em;
	background-color: #3c78b5;
}

#p-personal li {
	display: block;
	float: left;
	height: 1.5em;
	margin: 0 0 0 0;
	vertical-align: middle;
	font-weight: bold;
	text-transform: lowercase;
}

#p-personal li a {
	text-decoration: none;
	color: #fff;
	padding: 0 1em 0 1em;
}

#p-personal li a:hover {
	text-decoration: none;
	color: #fff;
}

#p-personal li:hover {
	background-color: #036;
}

#jump-to-nav {
	display: none;
}

#mw_contentwrapper {
	width: 100%;
	margin: 0 0 0 -15em;
	float: right;
}

#content {
	margin: 0 0 0 14em;
	background-color: #fff;
	border-top: solid 1px #bbb;
	border-left: solid 1px #bbb;
	border-bottom: solid 1px #bbb;
	line-height: 1.5em;
	padding: 0 1em 1em 1em;
	/* Set a z-index for the content to group it away from any nav stuff (extensions) - T200148 */
	position: relative;
	z-index: 0;
}

#mw_portlets {
	width: 14em;
	border-right: solid 1px #bbb;
	background-color: #f0f0f0;
}

/* Hide, but keep accessible for screen-readers */
#mw_portlets h2 {
	position: absolute;
	top: -9999px;
}

#mw_main {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	margin-top: 3.5em;
}

div.mw_clear {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	clear: both;
}

.portlet {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.portlet div.pBody {
	padding: 0 0 0.5em 0;
}

textarea {
	width: 100%;
	padding: 0.1em;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#searchBody {
	text-align: center;
}

#searchInput {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#p-search #searchform div div {
	margin-top: 0.4em;
}

.portlet h3 {
	padding: 0.1em 0 0.3em 1em;
	margin: 0 0 0 0;
	background-color: #ddd;
	font-weight: bold;
	font-size: 0.83em;
	border-bottom: solid 1px #3c78b5;
	height: 1.1em;
}

.portlet ul {
	margin: 0 0 0 1.5em;
	padding: 0 0 0 0;
}

#mw_portlets .portlet ul {
	line-height: 1.4em;
}

ul {
	/* @embed */
	list-style-image: url( images/bullet.gif );
}

#p-cactions {
	height: 1.5em;
	padding: 0 0 0 0;
	margin: 0 0 0 14em;
}

#p-cactions div.pBody {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#p-cactions a,
#p-cactions a:hover {
	color: #000;
	text-decoration: none;
}

#p-cactions ul {
	display: inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#p-cactions li {
	margin: 0 0.5em 0 0.5em;
	padding: 0 0.2em 0 0.2em;
	display: block;
	float: left;
	height: 1.5em;
	text-transform: lowercase;
}

#p-cactions li.selected {
	background-color: #bbb;
}

#p-cactions li a,
#p-cactions li a:hover,
#p-cactions li a:visited {
	text-decoration: underline;
	color: #036;
}

#p-cactions li.selected a,
#p-cactions li.selected a:hover,
#p-cactions li.selected a:visited {
	text-decoration: none;
	color: #fff;
}

#p-cactions h3 {
	display: none;
}

#siteSub {
	display: none;
}

.mw-footer {
	/* @embed */
	background: #f0f0f0 url( images/footer-grad.png ) repeat-x 0 0;
	padding: 10px 1em 1em 1em;
	clear: both;
	color: #444;
}

.mw-footer a,
.mw-footer a:hover,
.mw-footer a:visited {
	color: #444;
	text-decoration: underline;
}

img {
	border: 0;
}

.mw-footer li {
	display: inline;
	list-style-type: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.mw-footer ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

p {
	margin: 1em 0 1em 0;
}

hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: 0.2em 0 0.2em 0;
}

#contentSub {
	color: #545454;
	font-size: small;
	padding-left: 2em;
}

#mw_portlets form {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

a {
	text-decoration: none;
	color: #036;
	background: none;
}

a:visited {
	color: #5a3696;
}

a:active {
	color: #faa700;
}

a:hover {
	text-decoration: underline;
}

a.stub {
	color: #723;
}

a.new {
	color: #ba0000;
}

a.new:visited {
	color: #a55858;
}

a.mw-selflink {
	color: inherit;
	font-weight: bold;
	text-decoration: inherit;
}

h1,
h2 {
	border-bottom: solid 1px #036;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	overflow: hidden;
}

#content a.external {
	/* @embed */
	background: url( images/external.png ) center right no-repeat;
	padding-right: 13px;
}

#content a.external[ href^='https://' ],
.link-https {
	/* @embed */
	background: url( images/lock_icon.gif ) center right no-repeat;
	padding-right: 16px;
}

#content a.external[ href^='mailto:' ],
.link-mailto {
	/* @embed */
	background: url( images/mail_icon.gif ) center right no-repeat;
	padding-right: 18px;
}

#content a.external[ href^='news:' ] {
	/* @embed */
	background: url( images/news_icon.png ) center right no-repeat;
	padding-right: 18px;
}

#content a.external[ href^='ftp://' ],
.link-ftp {
	/* @embed */
	background: url( images/file_icon.gif ) center right no-repeat;
	padding-right: 18px;
}

#content a.external[ href^='irc://' ],
#content a.external[ href^='ircs://' ],
.link-irc {
	/* @embed */
	background: url( images/discussionitem_icon.gif ) center right no-repeat;
	padding-right: 18px;
}

#content a.external[ href$='.ogg' ],
#content a.external[ href$='.OGG' ],
#content a.external[ href$='.mid' ],
#content a.external[ href$='.MID' ],
#content a.external[ href$='.midi' ],
#content a.external[ href$='.MIDI' ],
#content a.external[ href$='.mp3' ],
#content a.external[ href$='.MP3' ],
#content a.external[ href$='.wav' ],
#content a.external[ href$='.WAV' ],
#content a.external[ href$='.wma' ],
#content a.external[ href$='.WMA' ],
.link-audio {
	/* @embed */
	background: url( images/audio.png ) center right no-repeat;
	padding-right: 13px;
}

#content a.external[ href$='.ogm' ],
#content a.external[ href$='.OGM' ],
#content a.external[ href$='.avi' ],
#content a.external[ href$='.AVI' ],
#content a.external[ href$='.mpeg' ],
#content a.external[ href$='.MPEG' ],
#content a.external[ href$='.mpg' ],
#content a.external[ href$='.MPG' ],
.link-video {
	/* @embed */
	background: url( images/video.png ) center right no-repeat;
	padding-right: 13px;
}

#content a.external[ href$='.pdf' ],
#content a.external[ href$='.PDF' ],
#content a.external[ href*='.pdf#' ],
#content a.external[ href*='.PDF#' ],
#content a.external[ href*='.pdf?' ],
#content a.external[ href*='.PDF?' ],
.link-document {
	/* @embed */
	background: url( images/document.png ) center right no-repeat;
	padding-right: 12px;
}

/* images */
/* @noflip */
div.floatright,
table.floatright {
	margin: 0 0 0.5em 0.5em;
	border: 0;
}

div.floatright p {
	font-style: italic;
}

/* @noflip */
div.floatleft,
table.floatleft {
	margin: 0 0.5em 0.5em 0;
	border: 0;
}

div.floatleft p {
	font-style: italic;
}

/* thumbnails */
div.thumb {
	margin-bottom: 0.5em;
	width: auto;
}

div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}

html .thumbimage {
	border: 1px solid #ccc;
}

html .thumbcaption {
	border: 0;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}

div.magnify {
	float: right;
	border: 0 !important;
	background: none !important;
	margin-left: 3px;
}

div.magnify a,
div.magnify img {
	display: block;
	border: 0 !important;
	background: none !important;
}

/* @noflip */
div.tright {
	margin: 0.5em 0 0.8em 1.4em;
}

/* @noflip */
div.tleft {
	margin: 0.5em 1.4em 0.8em 0;
}

img.thumbborder {
	border: 1px solid #ddd;
}

.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}

#toc,
.toc {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-spacing: 0;
	background-color: #f0f0f0;
	border: solid 1px #bbb;
	display: -moz-inline-block;
	display: inline-block;
	display: table;

	/* IE7 and earliers */
	zoom: 1;
	*display: inline; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

/* CSS for backwards-compatibility with cached page renders and creative uses in wikitext */
table#toc,
table.toc {
	border-collapse: collapse;
}

/* Remove additional paddings inside table-cells that are not present in <div>s */
table#toc td,
table.toc td {
	padding: 0;
}

#toc tr,
#toc td {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#toctitle {
	border-bottom: solid 1px #3c78b5;
	background-color: #ddd;
	margin: 0 0 0 0;
}

#toc h2,
.toc h2 {
	display: inline;
	border: 0;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}

#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}

#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0 1em 0 1em;
	padding: 0;
	text-align: left;
}

#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}

#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}

.mw-warning {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

.catlinks {
	border: solid 1px #bbb;
	background-color: #f0f0f0;
	padding: 0.1em 0.3em 0.1em 0.3em;
	margin: 0 0 0 0;
}

#p-personal,
#p-cactions {
	overflow: hidden;
}

/* disable interwiki styling */
#content a.extiw,
#content a.extiw:active {
	color: #36b;
}

#content a.external {
	color: #36b;
}

.printfooter {
	display: none;
}

.sharedUploadNotice {
	font-style: italic;
}

.previewnote {
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.previewnote p {
	margin: 0;
	padding: 0;
}

.toggle {
	margin-left: 2em;
	text-indent: -2em;
}

table.collapsed tr.collapsable {
	display: none;
}

input#wpSummary {
	width: 80%;
}

/* @bug 1714 */
input#wpSave,
input#wpDiff {
	margin-right: 0.33em;
}

#wpSave {
	font-weight: bold;
}

/* noarticletext */
div.noarticletext {
	border: 1px solid #ccc;
	background: #fff;
	padding: 0.2em 1em;
	color: #000;
}

div.multipageimagenavbox {
	border: solid 1px #c0c0c0;
	padding: 4px;
	margin: 1em;
	background: #f0f0f0;
}

div.multipageimagenavbox div.thumb {
	border: 0;
	margin-left: 2em;
	margin-right: 2em;
}

div.multipageimagenavbox hr {
	margin: 6px;
}

table.multipageimage td {
	text-align: center;
}

.templatesUsed {
	margin-top: 1.5em;
}

.mw-summary-preview {
	margin: 0.1em 0;
}

/* Friendlier replica lag warnings */
div.mw-lag-warn-normal,
div.mw-lag-warn-high {
	padding: 3px;
	text-align: center;
	margin: 3px auto;
}

div.mw-lag-warn-normal {
	border: 1px solid #fc6;
	background-color: #ffc;
}

div.mw-lag-warn-high {
	font-weight: bold;
	border: 2px solid #f03;
	background-color: #fcc;
}

.MediaTransformError {
	background-color: #ccc;
	padding: 0.1em;
}

.MediaTransformError td {
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
}

ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: 0.3em 0 0 1.5em;
	padding: 0;
	/* @embed */
	list-style-image: url( images/bullet.gif );
}

ol {
	line-height: 1.5em;
	margin: 0.3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}

li {
	margin-bottom: 0.1em;
}

.mw-empty-elt {
	display: none;
}

dt {
	font-weight: bold;
	margin-bottom: 0.1em;
}

dl {
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

#p-cactions li.new a {
	color: #c20;
}

span.subpages {
	font-size: 80%;
	display: block;
}

pre,
.mw-code {
	border: solid 1px #3c78b5;
	padding: 0.4em;
	background-color: #f0f0f0;
}

.usermessage {
	background-color: #dadaff;
}

.mw-topboxes {
	border-collapse: collapse;
	margin: 0 -1em 1em -1em;
	padding: 0 0 8px 0;
	/* @embed */
	background: url( images/footer-grad.png ) repeat-x bottom left;
}

.mw-topbox p {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.mw-topbox {
	color: #000;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0 1em 0 1em;
	vertical-align: middle;
	border-collapse: collapse;
	border-bottom: solid 1px #bbb;
}

#siteSub {
	background-color: #ddd;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}

*.center * {
	margin-left: auto;
	margin-right: auto;
}

/* table standards */
.toccolours {
	border: 1px solid #bbb;
	background-color: #f0f0f0;
	border-spacing: 0;
	margin: 0;
	padding: 0;
}

/* Tooltips and OOUI windows are outside of the normal body code, so this helps
make the size of the text sensible */
.tipsy,
.oo-ui-windowManager {
	font-size: 130%;
}

/* Codemirror for visual editor doesn't need padding */
.ve-init-mw-desktopArticleTarget .CodeMirror {
	padding: 0 !important;
}

/* Header is absolute so body can't need to be relative */
.oo-ui-windowManager-modal-active {
	position: static !important;
}

/* Visual editor toolbar should be a wide as the body, including padding */
.ve-ui-toolbar {
	margin-left: -1em;
	margin-right: -0.5em;
}

/**
 * Lists:
 * The following lines don't have a visible effect on non-Gecko browsers
 * They fix a problem ith Gecko browsers rendering lists to the right of
 * left-floated objects in an RTL layout.
 */
/* @noflip */
html > body.rtl .mw-body ul {
	display: table;
}

/* @noflip */
html > body.rtl .mw-body #filetoc {
	display: block;
}
