name: wikiman daily run

on:
  # Non hour start chosen deliberately https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#scheduled-events
  schedule:
    - cron: '6 12 * * *'
  workflow_dispatch:
  pull_request:
    paths:
      - .github/workflows/daily.wikiman.yml

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.6.0
      - name: copy pacman.yaml
        run: cp pacman.yaml current-pacman.yaml
      - name: write GH action token to file
        run: echo ${{ secrets.GITHUB_TOKEN }} > ./sync/.github
      - name: run wikiman
        run: ./sync/wikiman/wikiman .
      - name: Show diff of current pacman.yaml
        id: diff
        run: diff pacman.yaml current-pacman.yaml
        continue-on-error: true
      # Only fail in CI when there is diff content NOT on a pull request
      - name: Check diff status
        if: steps.diff.outcome  != 'success' && github.event_name != 'pull_request'
        run: exit 1
