name: Docker lint

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: lint
        uses: hadolint/hadolint-action@v2.0.0
        with:
          dockerfile: Dockerfile
