name: wbstack yaml lint

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.0

      - name: yamllint
        uses: ibiqlik/action-yamllint@v3
