name: wbstack php lint

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - uses: shivammathur/setup-php@2.11.0
      with:
        php-version: 7.4

    - name: Install wbstack dev Composer Dependencies
      working-directory: ./wbstack
      run: composer install --prefer-dist

    - name: Lint wbstack directory
      working-directory: ./wbstack
      run: composer lint