name: wbstack php lint

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4

      - name: Install wbstack dev Composer Dependencies
        run: composer install --prefer-dist

      - name: Lint wbstack directory
        run: composer lint
